.offenses{
    display: flex;
    flex-direction: row;
}

.list-offense{
    flex-grow: 1;
    padding: 1rem;
}

th{
    background-color: white !important;
    padding: 1rem !important;
    text-align: left;
    border: none !important;
    font-size: large;
}

thead{
    border: none;
}

.my-bg{
    background-color: #EEEEEE;
}

table{
    border: none;
}


