div.MainpageStyle {

    background-image: url('./traf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: white;
        
        
    }

    


    a:hover {
        // padding: 0.5vh 1.5vh;
        border-radius: 25px;
        transform: scale(1.2);
        transition: transform 1s;
        color: black;
        background-color: #cb2d6f;
    }

    .lo:hover{
        transform: scale(1.2);
        transition: transform 1s;
        // padding: 1vh;
    }

    // .lo:hover {
    //     transform: scale(1.2);
    //     transition: transform 0.6s;
    //     // padding: 1vh;
    //     padding: 1vh;
    //     // margin: vh;
    //     border-radius: 20px;
    //     color: black;
    //     background-color: #cb2d6f;
    // }

    
    .Li{
       margin: 5vh;
       padding: 1vh;
    }

    .Li:hover {
        transform: scale(1.4);
        transition: transform 0.6s;
        // padding: 1vh;
        padding: 1vh;
        // margin: vh;
        border-radius: 20px;
        color: black;
        background-color: #cb2d6f;
    }

    .box2 {
        margin: 0% 0%;
        /* outline: 2px solid red; */
        display: grid;
        /* background-image: url(t.jpg); */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        grid-template-areas:
            "con1"
            "con2";
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 0vh 0vh 30vh 0vh;
        column-gap: 10%;
        row-gap: 20%;
    }

    .head {
        text-align: center;
        /* color: #cb2d6f; */
        color: white;
        font-size: 10vh;
        grid-area: con1;
        padding: 5vh 0vh;
        /* padding: 4vh 5vh 50vh 5vh; */
    }

    .lo {
        grid-area: con2;
        padding: 5vh 0vh 0vh 0vh;
        font-size: 5vh;
        text-align: center;
    }

    .navuser {
        display: flex !important;
        padding: 2vh 4vh !important;
        font-size: 4vh !important;
        color: white !important;
        /* background-color: #d2896e; */
        /* color: #cb2d6f; */
    }

    li {
        padding: 3vh 20vh 0vh 0vh;
        color: white;
    }


    .con2 {
        text-align: center;
        font-size: 5vh;
        /* background-color: aqua; */
        padding: 10vh 0vh 0vh 0vh;
    }

    .pa {
        text-align: center;
        // transform: scale(1.2);
        // transform: rotate(4deg);
    }

    // .lo{
    //     padding: 1vh;
    // }

    // .lo:hover{
    //     transform: scale((1.4));
    //     transition: transform 1s;
    //     border-radius: 25px;
    //     color: black;
    //     background-color: #cb2d6f;
    // }


    .box {
        display: grid;
        color: white;
        /* row-gap: 40px; */
        /* padding: 5vh 5vh; */
        /* background-color: #d2896e; */
    }

    /* body{
    font-family: sans-serif;
    background-image: url(traf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

    /* *{
    background-image: url(tra.jpg);
    background-color: #cb2d6f;
    background-repeat: no-repeat;
    background-size: 100%;
} */
}